/* ------ VARIABLES ------ */
:root {
    --main-accent: rgb(156, 199, 173);
}

/* -- GLOBAL STYLES -- */
html {
	width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Poiret One', cursive;
}
body {
    width: 100%;
    height: 100%;
	background: white;
	margin: 0;
	max-width: 100%;
}
a {
    text-decoration: none;
    color: black;
    position: relative;
    transition: 0.2s ease all;
}
a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-accent);
    transition: width .6s;
    position: absolute;
    left: 0%;
    top: 150%;
    opacity: 0;
    transition: 0.5s ease all;
}
a:hover {
    color: var(--main-accent);
}
a:hover::after {
    width: 100%;
    transition: 0.25s ease all;
    opacity: 1;
    top: 90%;
}
/* ----------------- NAVIGATION ------------------ */
.nav {
    color: black;
    width: 100%;
    letter-spacing: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 2;
    top: 0;
    background: white;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desktop-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    width: 150px;
    font-family: 'Sacramento', cursive;
    padding-left: 30px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80%;
    font-weight: bold;
}
.navLink {
    padding: 0 20px;
    height: 50%;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: 0.2s ease all;
}
.hamburger {
    display: none;
}
.nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 0px;
    transition: 0.4s ease-in;
}
.revealNavMobile {
    -webkit-transition: 0.6s; /* Safari 4+ */
    -moz-transition: 0.6s; /* Fx 5+ */
    -o-transition: 0.6s; /* Opera 12+ */
    transition: 0.5s; /* IE 10+, Fx 29+, */
    height: 20vh;
    opacity: 1;
}
.revealNavMobile .mobileLink {
    line-height: 30px;
}
.mobileLink {
    transition: 0.6 ease all;
    line-height: 5px;
    text-align: center;
    padding: 5px;
    letter-spacing: 3px;
    color: black;
    position: relative;
    z-index: 2;
    max-width: 100vw;
}
.mobileLink:hover {
    color: #B3C8BB;
    transition: 0.1s;
}
.mobileLink:hover::after {
    display: none;
}
.social {
    display: flex;
    padding-right: 30px;
}
/* ------------- HERO STRIP -------------- */
.hero-strip {
    height: 80vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1512386233331-f023884a92e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1372&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
}
.hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #B3C8BB;
    border-radius: 10px;
    width: 320px;
    height: 250px;
    box-shadow: 0px 3px 6px 1px grey;
}
.hero-overlay i {
    transition: 0.4s ease all;
}
.hero-overlay hr {
    border-color: white;
    border-style: double;
    color: white;
    width: 50px;
}
.hero-overlay:hover i {
    transform: translateY(7px) scale(1.2);
}
.hero-overlay a {
    color: white;
}
.hero-overlay a:hover::after {
    display: none;
}

/* --- MODALITIES --- */
.modalities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modalities h2 {
    padding: 20px 10px 10px 10px;
    letter-spacing: 3px;
    font-weight: bold;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    padding-bottom: 20px;
}
.wrapper {
    margin: 0;
    padding: 0;
}
.wrapper .card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 350px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: #343434;
    box-shadow: 0px 3px 6px 1px grey;
    top: 50%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transform-origin: center;
    transition: width 285ms cubic-bezier(0.4, 0.0, 0.2, 1) 50ms, height 325ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.card-preview {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 50px;
}
.card-info {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
}
.card.move {
    width: 350px;
    height: 400px;
    transition: width 285ms cubic-bezier(0.4, 0.0, 0.2, 1), height 325ms cubic-bezier(0.4, 0.0, 0.2, 1) 50ms;
}
.card-preview:hover i {
    transform: translateX(-30px);
}
.card-preview:hover p {
    transform: translateX(30px);
}
.card i {
    font-size: 2rem;
    position: relative;
    top: 25px;
    color: rgb(156, 199, 173);
    transition: 0.4s ease all;
}
.card p {
    font-size: 1.1rem;
    position: relative;
    top: 15px;
    transition: 0.4s ease all;
}

/* ---------- ATHLETE STRIP ------------ */
.athlete-strip {
    background-image: url(athlete-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.athlete-strip h2 {
    width: 50%;
    line-height: 75px; 
    font-weight: bold;
}
.athlete-strip hr {
    width: 20%;
}
.athlete-strip button {
    width: 150px;
    height: 60px;
    margin-top: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(156, 199, 173);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.4s ease all;
}
.athlete-strip button:hover {
    background:none;
    border: 1px solid white;
}
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 100%;
    background: rgba(0,0,0, 0.35);
}
/* ---------- TESTIMONIALS ------------ */
.testimonials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 0;
}
.testimonials h2 {
    padding-bottom: 25px;
}
.quote-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.quote {
    width: 300px;
    font-weight: bold;
    transition: 0.2s ease all;
}
.quote:hover {
    transform: scale(1.15);
}
/* ---------- PHONE ------------ */
.phone {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #B3C8BB;
    padding: 40px 0;
}
.phone-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
/* -------- CONTACT FORM --------- */
.contact-strip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(186, 201, 197);
    padding: 50px 0;
}
.contact-strip p {
    padding: 0;
    margin: 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: white;
}
fieldset {
    border-radius: 15px;
    background: #343434;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 0px 3px 6px 1px grey;
}
input {
    background: #eee;
}
input, label {
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    outline: none;
    border: none;
}
textarea {
    padding: 10px;
    height: 100px;
    background: #eee;
    border-radius: 10px;
    outline: none;
    border: none;
}
.form-top {
    width: 100%;
    display: flex;
    justify-content: center;
}
.name, .email {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form-bottom {
    
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.contact-button {
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    margin-top: 20px;
    background: #343434;
    color:white;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: .3s ease all;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0px 3px 6px 1px grey;
    font-size: 0.8rem;
}
.contact-button:hover {
    background: #989898;
    transform: translateY(-3px);
    box-shadow: none;
}
/* ----------- FOOTER ------------- */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #343434;
    color: white;
    padding: 20px 0;
}
.footer i {
    color: #B3C8BB;
}
.footer i:hover {
    color: white;
    transform: scale(1.1);
}
.axn-creative p {
    color: lightgrey;
    font-size: 0.8rem;
}
.axn-creative a {
    color: lightgrey;
}

@media only screen and (max-width: 1100px) {
    .athlete-strip h2 {
        width: 60%;
        line-height: 60px; 
        font-weight: bold;
    }
}

@media only screen and (max-width: 980px) {
    .card-container {
        width: 90%;
    }
    /* Testimonials */
    .testimonials {
        height: auto;
        padding: 50px 0;
    }
    .quote-wrapper {
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .athlete-strip h2 {
        width: 70%;
        line-height: 50px; 
        font-weight: bold;
    }
    .athlete-strip {
        background-image: url(athlete-mobile.png);
    }
}

@media only screen and (max-width: 640px) {
    /* Mobile Nav */
    .navbar {
        display: none;
    }
    .social {
        display: none;
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        width: 20px;
        height: auto;
        padding: 10px 20px 10px 10px;
        position: relative;
        left: -5%;
        transition: 0.4s ease all;
    } 
    .bar1, .bar3 {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        transition: 0.6s;
        border-radius: 100px;
    }
    .bar2 {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        transition: 0.5s;
        border-radius: 100px;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg);
        transform: translateY(10px) rotate(-228deg);
    }
    /*  translate(3px, -5px) */
    .change .bar2 {
        transform: rotate(125deg) translateY(-10px) translateX(30px);
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg);
        transform: translateY(-10px) rotate(48deg);
    }
    /* Hero Strip */
    .hero-strip {
        background-attachment: scroll;
        color: white;
    }
    /* Athlete Strip */
    .athlete-strip h2 {
        width: 80%;
        line-height: 30px; 
        font-weight: bold;
        font-size: 1rem;
    }
    /* Testimonials */
    .quote {
        text-align: center;
        width: 100%;
        font-weight: bolder;
    }
    .quote p {
        padding: 0 20px;
        font-weight: bolder;
    }
    .quote:hover {
        color: white;
        transform: scale(1.05);
    }
    .one {
        background-color: #B3C8BB;
        color: white;
    }
    .two {
        background-color: #93B19F;
        color: white;
    }
    .three {
        background-color: #7B9A87;
        color: white;
    }
    /* CONTACT */
    fieldset {
        width: 350px;
    }
    .form-top {
        flex-direction: column-reverse;
        padding: 0;
    }
    input, label {
        width: 94%;
    }
    .name, .email {
        margin: 0;
    }
    textarea {
        height: 80px;
    }
}

@media only screen and (max-width: 400px) {
    .athlete-strip h2 {
        width: 85%;
        line-height: 30px; 
        font-weight: bold;
    }
    .wrapper .card {
        width: 300px;
    }
    .footer a {
        color: #B3C8BB;
    }
    .testimonials {
        padding: 50px 0 0 0;
    }
    /* CONTACT */
    fieldset {
        width: 270px;
    }
    .contact-strip p {
        padding: 0 30px;
        text-align: center;
    }
    textarea {
        width: 260px;
    }
}