/* -- GLOBAL STYLES -- */
html {
	width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Poiret One', cursive;
}
body {
    width: 100%;
    height: 100%;
	background: white;
	margin: 0;
	max-width: 100%;
}
a {
    text-decoration: none;
    color: black;
    position: relative;
    transition: 0.2s ease all;
}
a::after {
    content: '';
    width: 0;
    height: 2px;
    background:  rgb(156, 199, 173);
    transition: width .6s;
    position: absolute;
    left: 0%;
    top: 150%;
    opacity: 0;
    transition: 0.5s ease all;
}
a:hover {
    color:  rgb(156, 199, 173);
}
a:hover::after {
    width: 100%;
    transition: 0.25s ease all;
    opacity: 1;
    top: 90%;
}

/* ----------------- NAVIGATION ------------------ */
.nav {
    color: black;
    width: 100%;
    letter-spacing: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 2;
    top: 0;
    background: white;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desktop-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    width: 150px;
    font-family: 'Sacramento', cursive;
    padding-left: 10px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80%;
    font-weight: bold;
}
.navLink {
    padding: 0 20px;
    height: 50%;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: 0.2s ease all;
}
.hamburger {
    display: none;
}
.nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 0px;
    transition: 0.4s ease-in;
}
.revealNavMobile {
    -webkit-transition: 0.6s; /* Safari 4+ */
    -moz-transition: 0.6s; /* Fx 5+ */
    -o-transition: 0.6s; /* Opera 12+ */
    transition: 0.5s; /* IE 10+, Fx 29+, */
    height: 20vh;
    opacity: 1;
}
.revealNavMobile .mobileLink {
    line-height: 30px;
}
.mobileLink {
    transition: 0.6 ease all;
    line-height: 5px;
    text-align: center;
    padding: 5px;
    letter-spacing: 3px;
    color: black;
    position: relative;
    z-index: 2;
    max-width: 100vw;
}
.mobileLink:hover {
    color: #B3C8BB;
    transition: 0.1s;
}
.mobileLink:hover::after {
    display: none;
}
.social {
    display: flex;
    padding-right: 10px;
}
/* ------------- HERO STRIP -------------- */
.hero-strip {
    height: 80vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1457732815361-daa98277e9c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* --- MODALITIES --- */
.modalities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modalities h2 {
    padding: 20px 10px 10px 10px;
    letter-spacing: 3px;
    font-weight: bold;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    padding-bottom: 20px;
}
.wrapper {
    margin: 0;
    padding: 0;
}
.wrapper .card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 350px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: #343434;
    box-shadow: 0px 3px 6px 1px grey;
    top: 50%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transform-origin: center;
    transition: width 285ms cubic-bezier(0.4, 0.0, 0.2, 1) 50ms, height 325ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.card-preview {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 50px;
}
.card-info {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
}
.card.move {
    width: 350px;
    height: 400px;
    transition: width 285ms cubic-bezier(0.4, 0.0, 0.2, 1), height 325ms cubic-bezier(0.4, 0.0, 0.2, 1) 50ms;
}
.card-preview:hover i {
    transform: translateX(-30px);
}
.card-preview:hover p {
    transform: translateX(30px);
}
.card i {
    font-size: 2rem;
    position: relative;
    top: 25px;
    color: rgb(156, 199, 173);
    transition: 0.4s ease all;
}
.card p {
    font-size: 1.1rem;
    position: relative;
    top: 15px;
    transition: 0.4s ease all;
}

/* ---------- ATHLETE STRIP ------------ */
.athlete-strip {
    background-image: url(athlete-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.athlete-strip h2 {
    width: 50%;
    line-height: 75px; 
    font-weight: bold;
}
.athlete-strip hr {
    width: 20%;
}
.athlete-strip button {
    width: 150px;
    height: 60px;
    margin-top: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(156, 199, 173);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.4s ease all;
}
.athlete-strip button:hover {
    background:none;
    font-size: 1.1rem;
    border: 1px solid white;
}
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 100%;
    background: rgba(0,0,0, 0.35);
}

@media only screen and (max-width: 1100px) {
    .athlete-strip h2 {
        width: 60%;
        line-height: 60px; 
        font-weight: bold;
    }
}

@media only screen and (max-width: 980px) {
    .card-container {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .athlete-strip h2 {
        width: 70%;
        line-height: 50px; 
        font-weight: bold;
    }
    .athlete-strip {
        background-image: url(athlete-mobile.png);
    }
}

@media only screen and (max-width: 640px) {
    /* Mobile Nav */
    .navbar {
        display: none;
    }
    .social {
        display: none;
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        width: 20px;
        height: auto;
        padding: 10px 10px 10px 10px;
        position: relative;
        left: -5%;
        transition: 0.4s ease all;
    } 
    .bar1, .bar3 {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        transition: 0.6s;
    }
    .bar2 {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        transition: 0.5s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg);
        transform: translateY(10px) rotate(-228deg);
    }
    /*  translate(3px, -5px) */
    .change .bar2 {
        transform: rotate(125deg) translateY(-10px) translateX(30px);
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg);
        transform: translateY(-10px) rotate(48deg);
    /*  translate(-9px, -12px) */
    }
    .athlete-strip h2 {
        width: 80%;
        line-height: 40px; 
        font-weight: bold;
    }
}

@media only screen and (max-width: 400px) {
    .athlete-strip h2 {
        width: 85%;
        line-height: 30px; 
        font-weight: bold;
    }
    .wrapper .card {
        width: 300px;
    }
}